body
{
  margin:0px;
  padding:0px;
  font-family: "Open Sans", arial;
  background-image: url(./backgound\ image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color:black;
  font-weight:300;
}


/* ScrolBar  */
.scrollbar
{

height: 90%;
width: 100%;
overflow-y: hidden;
overflow-x: hidden;
}
.scrollbar:hover
{

height: 90%;
width: 100%;
overflow-y: scroll;
overflow-x: hidden;
}

/* Scrollbar Style */ 

#style-1::-webkit-scrollbar-track
{
border-radius: 2px;
}

#style-1::-webkit-scrollbar
{
width: 5px;
background-color: #F7F7F7;
}

#style-1::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #BFBFBF;
}
/* Scrollbar End */ 




.fa-lg {
font-size: 1em;
  
}
.fa {
position: relative;
display: table-cell;
width: 55px;
height: 36px;
text-align: center;
top:12px; 
font-size:20px;

}



.main-menu:hover, nav.main-menu.expanded {
width:250px;
overflow:hidden;
opacity:1;
position: fixed;
z-index: 1;
top: 0;
left: 0;
}

.main-menu {
background:#F7F7F7;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:55px;
overflow:hidden;
-webkit-transition:width .2s linear;
transition:width .2s linear;
-webkit-transform:translateZ(0) scale(1,1);
box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
opacity:1;
position: fixed;
z-index: 1;
top: 0;
left: 0;
}

.main-menu>ul {
margin:7px 0;

}

.main-menu li {
position:relative;
display:block;
width:250px;
  


}

.main-menu li>a {
position:relative;
width:255px;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#8a8a8a;
font-size: 13px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .14s linear;
transition:all .14s linear;
font-family: 'Strait', sans-serif;
border-top:1px solid #f2f2f2;

text-shadow: 1px 1px 1px  #fff;  
}


.main-menu .nav-text  {
   
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
font-family: 'Titillium Web', sans-serif;
}

.main-menu .share {
}



.main-menu .fb-like {

left: 180px;
position:absolute;
top: 15px;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
  
}



/* Logo Hover Property */



a:hover,a:focus {
text-decoration:none;
border-left:0px solid #F7F7F7;



}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
  
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
text-transform: uppercase;
}


/* Darker element side menu End*/

.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#00bbbb;
text-shadow: 0px 0px 0px; 
}

/***signup and login*****/

.formulaire {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: gray;
}
.formulaire form{
    width: 30vw;
    background-color: rgb(53, 224, 213, 0.4);
    border-radius: 5%;
    color: white;
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.group{
    display: flex;
    flex-direction: column;
    padding-top: 5vh ;
}

button{
    margin: 3vh 0;
}

/******main*****/

.welcome{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100vw;
  height: 100vh;
  font-size: 250%;
  text-shadow: 0 0 15px #00bbbb;
}

h3{
  color: black;
}
/******comment*****/
.comments{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comments form{
  width: 30vw;
  height: fit-content;
  background-color: rgba(0, 187, 187, 0.4);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh;
}
textarea{
  width: 26vw;
  max-height: fit-content;
  min-height: 30vh;
}

/******table*****/

.commentbook{
  display: flex;
  /***background-color: white;***/
  flex-direction: column;
  width: 60vw;
  height: fit-content;
  align-items: center;
  margin-top: 5vh;
  padding-bottom: 5vh;
}
.goldenbook{
  display: flex;
  justify-content: center;
  align-items: center;
}
tbody tr{
  background-color:rgba(255, 255, 255, 0.7);
  height: 6vh;
}

thead tr{
  background-color:gray;
  height: 10vh;
  
}
table{
  width: 50vw;
}

.commentbook h2{
  font-size: 250%;
  color: #00bbbb;
}
td i{
  color: #00bbbb;
}
.formulaire h3{
  color: #00bbbb;
}

/****button*****/

.b1 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color:#00bbbb;
}

.b1 .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.b1:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: white;
}

.b1:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.b1:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}